:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  :root {
    /* Adjust font size, line height, or other properties for smaller screens */
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (max-width: 576px) {
  :root {
    /* Further adjustments for even smaller screens */
    font-size: 14px;
  }
}
